<nav>
  <ul>
    <li><a id="nav-home" href="<%= relative_url '/' %>">home</a></li>
    <li><a id="nav-projects" href="<%= relative_url '/projects' %>">projects</a></li>
    <li><a id="nav-posts" href="<%= relative_url '/posts' %>">tech stories</a></li>
  </ul>
</nav>

<header>
  <div id="avatar-container">
    <img id="avatar" src="<%= relative_url '/images/avatar.webp' %>" alt="avatar"/>
    <h1>Christian Toscano</h1>
  </div>
  <div id="contacts-container">
    <% @metadata.contacts.each do |c| %>
      <a href="<%= c.url %>" data-tooltip="<%= c.name %>" style="padding:20px;">
        <img src="/images/contacts/<%= c.name.downcase %>.svg" style="width:20px;" />
      </a>
    <% end %>
  </div>
</header>

<script>
  const currPath = window.location.pathname.split('/')[1] || 'home'
  document.querySelectorAll('nav > ul > li > a').forEach(e => e.classList.remove('current-page'))
  document.getElementById(`nav-${currPath}`).classList.add('current-page');
</script>
