<nav>
  <ul>
    <li><a id="nav-home" href="<%= relative_url '/' %>">home</a></li>
    <li><a id="nav-projects" href="<%= relative_url '/projects' %>">projects</a></li>
    <li><a id="nav-posts" href="<%= relative_url '/posts' %>">blog</a></li>
  </ul>
</nav>

<header>
  <img src="<%= relative_url '/images/avatar.webp' %>" alt="Logo" style="width:140px;height:140px;filter:drop-shadow(3px 3px 5px #6969694a);"/>
  <h1 style="margin:10px;">Christian Toscano</h1>
  <div style="background-color:white;width:fit-content;margin:auto;">
    <% @metadata.contacts.each do |c| %>
      <a href="<%= c.url %>" style="padding:20px;">
        <img src="/images/contacts/<%= c.name.downcase %>.svg" style="width:20px;" />
      </a>
    <% end %>
  </div>
</header>

<script>
  const currPath = window.location.pathname.split('/')[1] || 'home'
  document.querySelectorAll('nav > ul > li > a').forEach(e => e.classList.remove('current-page'))
  document.getElementById(`nav-${currPath}`).classList.add('current-page');
</script>
